<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Photo Editing</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="image-file">Image file:</label>
        <input class="form-input" type="file" name="image-file" id="image-file" accept="image/*"/>
      </div>
      <div class="form-group">
        <label for="edit-type">Choose how to edit:</label>
        <select id="edit-type">
          <option value="image-flip">Flip image vertically</option>
          <option value="image-flop">Flip image horizontally</option>
          <option value="image-sharpen">Sharpen image</option>
          <option value="image-blur">Blur image</option>
          <option value="image-greyscale">Greyscale image</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      <div>
        <h3>Image cannot be larger that 300x300 pixels.</h3>
        <h3>After every edit of an image you need to reload the page.</h3>
        <img id="edited-image" src="img/blank.png">
      </div>
    </form>
  </div>
</div>

<script src="./js/profile.js"></script>
