:root{
  --bg:#752323;
  --font:#ebf8e1;
  --hover:#b6c4a1;
  --grey:rgb(42, 59, 68);
  --green:rgb(98, 160, 98);
  --purple:rgb(59, 54, 126);
  --blueblack: rgb(2, 2, 59); 
  --black:black;

}

header, .project:not(:last-child) {
  border-bottom: 2px dashed var(--font);
   background: linear-gradient(0.25turn, var(--black), var(--blueblack), var(--black)); 
}

body{

  background: linear-gradient(0.25turn, var(--blueblack), var(--black), var(--blueblack));
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.style{
  text-align: center;
  margin:10px;
  padding:20px;
}
p{
  padding:30px;
  font-size: 25px;
}
#title{
  text-decoration: underline overline white;
}
#alone{
  display: flex;
  position: relative;
  height: 700px;
  width: 100%;
  margin-bottom: 25px;
}
/* }
header:hover { border-style: dashed double dashed;
  box-shadow: inset 0 0 80px  var(--hover);
 */